body{
    margin: 0%;
    padding: 0%;
}


/*header*/


header{
    background-color: #EAC926;

}
#nav-bar{
    text-align: left;
    margin-left: 1px;
}
.mobile-tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 10vw; 
    height: 15vh;
    flex-grow: 1;
}
#search{
    width: 15vw;
    height: 5vh;
    border-color: transparent;
    margin-left: 20%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#lupa{
    width: 3vw;
    height: 5.55vh;
    border-color: transparent;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
}
#titulo{
    display: none;
}
#titulo1{
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    flex-grow: 1;
    margin-right: 5%;
}
#buscador{
    flex-grow: 3;
}
#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.botones-internos{
    display: flex;
    flex-direction: row;
}
#hambur{
    display: none;
}

.titulares {
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    margin: 1vw;
}
.usuario{
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    margin: 1vw;
}
.hiper{
    text-decoration: none;
    color: black;
}
#hambur{
    text-align: center;
}
#opciones{
    background-color: #1259c3;
    color: white;
    font-size: 35px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-color: transparent;
}

/* MAIN */


main{
    background-color: #dee1e4;
    font-family: 'Roboto', sans-serif;
}
#titulo-cuenta{
    text-align: center;
    margin: 0%;
    padding-top: 2%;
}
#ingresar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo-contraseña{
    margin: 0%;
    margin-top: 2%;
}
.caja-txt{
    width: 30vw;
    height: 5vh;
    border-radius: 7px;
    border-color: transparent;
    margin: 2%;
}
#enviar{
    background-color: blue;
    color: white;
}



/* FOOTER */
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.caja-info{
    display: flex;
    flex-direction: column;
}
.informacion{
    width: 20vw;
}
footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.icono{
    color: #1259c3;
    size: 2em;
    margin: 10px;
}


/* MEDIA */

@media (min-width: 360px) and (max-width:769px){

    /*HEADER*/

    .usuario{
        display: none;
    }
    .titulares{
        display: none;
    }
    #nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20vh;
    }
    #logo{
        width: 45vw;
        height: 30vh;
    }
    #buscador{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    #search{
        width: 42vw;
        height: 4.8vh;
        border-color: transparent;
        margin-left: 3%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #lupa{
        width: 7vw;
        height: 5.7vh;
        border-color: transparent;
        background-color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #titulo{
        width: 90vw;
        font-size: 13px;
        text-align: center;
        margin: 5%;
        display: block;
        font-family: 'Roboto', sans-serif; 
    }
    #titulo1{
        display: none;
    }
    #hambur{
        text-align: center;
        display: block;
    }
    #opciones{
        background-color: #1259c3;
        color: white;
        font-size: 35px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-color: transparent;
        margin-bottom: 5%;
        text-align: center;
    }
        /* MAIN */

    .caja-txt{
        width: 70%;
    }


        /* FOOTER */

    #info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .caja-info{
        display: flex;
        flex-direction: column;
    }
    .informacion{
        width: 80vw;
    }
}



@media (min-width: 770px) and (max-width:1079px){

     /* MAIN */

     .caja-txt{
        width: 70%;
    }

     /*FOOTER*/

    #info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .caja-info{
        display: flex;
        flex-direction: column;
    }
    .informacion{
        width: 80vw;
    }     
}


